.v1{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    /* border: 1px solid blue; */
    display:flex;
    
    
}
img{
    width: 100px;
    height: 70px;
}
.col-1{
    width: 200px;
    height: 100px;
    /* border: 1px solid blue; */
    /* display:flex; */
}
.col-2{
    width: 900px;
    height: 150px;
    
}
a{
    color: black;
}
.a1{ 
    width: 100%;
    height: 500px;
    background-image:url('./image/ad0082bfadfc85a674720d31491eb0df270cecd1_MediumBeansOnWhiteBanner.jpg') ;
    background-size: cover;
}   
a:hover{
    color: rgb(46, 185, 34);
} 
body{
 background-color:rgb(102, 221, 72);
}
#a4{
    width: 100%;
    height: 500px;
    display: flex;
    padding:30px;
    background-color: #F2AA4CFF;
    justify-content:space-evenly;
}
#a2{
    width:400px;
    height:600px
    
}
p{
    color: #101820FF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
#s1{
    height: 450px;
    width: 500px;
}
.h{
    background-color: white;
    width: 100%;
    height: 400px;
    /* display:flex; */
    justify-content: space-evenly;

}
.b1{
    height: 300px;
    width: 300px;
    box-shadow: 5px 5px 5px rgb(53, 46, 46);
}
#colo{
    height: 300px;
    width: 300px;
    border:red solid 1px;
    background-color: black;
}
.v{
    background-color: white;
    width: 100%;
    height: 400px;
    display:flex;
    justify-content: space-evenly;

}
.i{
    background-color: white;
    width: 100%;
    height: 400px;
    display:flex;
    justify-content: space-evenly;

}
.d{
    width: 100%;
    height: 450px;
    background-color: black;
    display:flex;
    justify-content: space-evenly;
}
.q{
 width: 300px;
 height: 275px;
 /* margin-top: 10px; */
 padding: 20px;
}
.b{
    width: 270px;
    height: 275px;
    margin-top: 20px;
    
}
.x{
    color: white;
    
}
.w{
    width: 475px;
    height: 275px;
    margin-top: 100px;
}
#b{
    color: white;
}
#a5{
    color:white;
}
#a5:hover
{
    color:green;
}